body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --s-width:800px;
  --m-widht:900px;
  --l-width:1200px;
  --common-desktop-width:80%;
  --Heading-div-width:90%;
  --mob-div-width:100%;
  --mob-l-r-margin:20px;
  --mob-large-font:medium;
  --mob-small-font:small;
  --mob-margin-t:30px;
}

code 
{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body, html {
  min-height:100%;
  /* overflow-x: hidden; */
}
